<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

    <div fxFlex>
      <div>
        <h3>Menu</h3>
        <hr>
      </div>
    </div>
  
    <div fxFlex *ngIf="dishes" [@expand]>     <!--to show this div only if the dishes is not an undefined or not a null object.-->
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
          <img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
          <mat-grid-tile-footer>
            <h1>{{dish.name | uppercase}}</h1>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex [hidden]="dishes || errMess">       <!--this means that if dishes is not null, then the menu is displayed with all the dishes. If dishes is null, then this div will be shown || same for errMess-->
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait!</h4>
    </div>
    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
    

    <!--<div fxFlex *ngIf="selectedDish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{selectedDish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
        <mat-card-content>
          <p>{{selectedDish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>-->
    
    
</div>